<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Bienvenue sur le gestionnaire de recettes</h1>
    <div class="row mt-5">
        <div class="col-md-6">
            <h2>Catégories</h2>
            <ul class="list-group">
                <li class="list-group-item"><a href="/categories">Liste des Catégories</a></li>
                <li class="list-group-item"><a href="/categories/add">Ajouter une Catégorie</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Recettes</h2>
            <ul class="list-group">
                <li class="list-group-item"><a href="/recettes">Liste des Recettes</a></li>
                <li class="list-group-item"><a href="/recettes/add">Ajouter une Recette</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
